django==4.2.22
django-crispy-forms==1.14.0
# added this one for some nice form styling
requests==2.32.4
# we may need this later for api stuff
# TODO: check if we need more packages??
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
